* {
  margin: 0;
}

.nav {
  position: fixed;
  background-color: rgb(255, 255, 255);
  height: 58px;
  width: 94%;
  /* padding-top: 2px; */
  margin-left: 2%;
  margin-right: 4%;
  border-bottom: 1px solid rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  padding-left: 2%;
  z-index: 1000;
}

.logo {
  height: 110%;
  cursor: pointer;
  margin-right: 10%;
}

.accountPic {
  object-fit: cover;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: 2px solid rgb(150, 66, 66);
  cursor: pointer;
}
