* {
  margin: 0;
}

.nav {
  position: fixed;
  background-color: rgb(255, 255, 255);
  height: 8vh;
  width: 97%;
  margin-left: 2%;
  margin-right: 2%;
  border-bottom: 1px solid rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  z-index: 1000;
}

.logo {
  height: 110%;
  margin-left: 2%;
  cursor: pointer;
}

.accountPic {
  object-fit: cover;
  height: 5vh;
  width: 5vh;
  border-radius: 100%;
  border: 2px solid rgb(150, 66, 66);
  margin-left: 5%;
  margin-right: 3%;
  cursor: pointer;
  margin-top: 1vh;
}
