* {
  margin: 0;
}

.nav {
  position: static;
  background-color: rgb(255, 255, 255);
  height: 9vh;
  width: 97%;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  z-index: 1000;
}

.logo {
  height: 110%;
  cursor: pointer;
}

.accountPic {
  object-fit: cover;
  height: 5vh;
  width: 5vh;
  border-radius: 100%;
  border: 2px solid rgb(150, 66, 66);
  margin-left: 5%;
  margin-right: 3%;
  cursor: pointer;
  margin-top: 2vh;
}
